@page "/"
@using System.Net.Sockets;
@using TesteTecnico.Model;

@inject AppDbContext db;

<h1>Salve</h1>
<button @onclick="ButtonClick">Clique Aqui</button>

<p>@getPages()</p>

@code {
    private void ButtonClick()
    {
        HttpClient httpClient = new HttpClient();
        var a =  httpClient.GetFromJsonAsync<UserResponse>("https://api.slingacademy.com/v1/sample-data/users?offset=0&limit=1000").Result;
        ReplaceIntoUser(a.users);
        var b = httpClient.GetFromJsonAsync<BlogResponse>("");
    }

    public void ReplaceIntoUser(List<User> users)
    {
        foreach(var user in users)
        {
            try
            {
                var existingUser = db.User.Find(user.id);

                if (existingUser == null)
                {
                    db.User.Add(user);
                }

                db.SaveChanges();
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }

        }
    }
}

@code
{
    public List<Teste> testes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ////db.Teste.Add(new Teste() { nome = "TESTE", sobrenome = "1", idade = 0 });
        ////db.SaveChanges();
        //testes = db.Teste.ToList();
        //db.Teste.AddRange(testes);
        //db.SaveChanges();
        //testes = db.Teste.ToList();
        //var a = db.Teste.Find(1);
    }

    protected int getPages()
    {
        return db.User.Count() / 100;
    }

    protected List<Blog> GetBlogs(int UserId)
    {
        return db.Blog.Where(x => x.user_id == UserId).ToList();
    }

}